<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../static/photon/css/photon.min.css">

  <!-- Scripts -->
  <script src="../static/jquery-3.6.0.min.js"></script>

  {% block head %}
        
  {% endblock %}

</head>
<body>

  <div class="window">
    <header class="toolbar toolbar-header">
      {% block title %}
      <h1 class="title">Header</h1>
      {% endblock %}
    </header>

    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">

          {% include '../includes/nav.html' %}

        </div>

        <div class="pane">

          
        {% block content %}
        
        {% endblock %}

        </div>


      </div>
    </div>

    <footer class="toolbar toolbar-footer">
      <h1 class="title">Footer</h1>
    </footer>
  </div>
</div>
 
</body>
</html>